:root {
  --navbar-height: 47px;
  --sidebar-width: 300px;
}

body {
  display: grid;
  grid-template-areas: 'header header' 'toc navbar' 'toc content' 'toc footer';
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr auto;
}

header {
  position: sticky !important;
  top: 0;
  margin-bottom: 0 !important;
  grid-area: header;
  box-shadow: none !important;
}

footer {
  grid-area: footer;
}

#navbar {
  position: sticky;
  top: var(--header-height);

  background: white;
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: center;

  font-size: 18px;
  text-align: center;
  line-height: calc(var(--navbar-height) - 1px);
}

#toc {
  position: sticky;
  top: var(--header-height);
  grid-area: toc;
  height: calc(100vh - var(--header-height));
  width: var(--sidebar-width);
  overflow: auto;

  background: #fafafa;
  color: black;

  font-size: 14px;
  word-break: break-word;

  transition: max-width 200ms;
}

#toc > div {
  padding: 1.25rem 1rem;
  border-right: 0.0625rem solid rgba(0, 0, 0, 0.2);
}

#toc ol {
  padding-left: 20px;
  list-style: none outside none;
}

#toc > div > ol {
  padding-left: 0;
}

#toc a {
  color: black;
  border-bottom: none;
}

#toc a[data-selected='true'],
#toc a:hover {
  color: #1f1fff;
}

#toc a[data-empty='true'] {
  color: black;
}

#toc a[data-selected='true'],
#toc a[data-empty='true'] {
  cursor: default;
  pointer-events: none;
}

#content {
  grid-area: content;
  overflow: auto;
  margin-top: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

#content * {
  /* Fix anchor link snapping */
  scroll-margin-top: calc(var(--header-height) + var(--navbar-height));
}

footer {
  padding-left: 1rem;
  padding-right: 1rem;
}

main,
.docbook-page,
.docbook {
  display: contents;
}

.navButton {
  transition: color 200ms;
  cursor: pointer;
  color: #747474;
  margin-left: 1rem;
}

.navButton:hover {
  color: black;
}
